* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-background: #3035BF;
  --color-text-header: #D9E2EC;
  --nav-background: #334E68;

  --color-title-body: #000480;
  --input-text-darkgray:#829AB1;
  --input-text-gray: #BCCCDC;
  --color-text-body: #243B53;
  --color-date: #102A43;
  --color-description-image: #627D98;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 20px; 
}

.logo {
  width: 150px;
}